.form {
    background: linear-gradient(rgb(162, 162, 161, 0.6), rgb(241, 244, 255, 0.6));
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    width: 800px;
    height: 500px;
    padding: 20px 70px;
    display: none;
}

.wrapper {
    background: linear-gradient(to bottom right, rgb(57, 38, 77), rgb(90, 96, 96));
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(57, 38, 77);
}

input {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    font-size: 100px;
    font-weight: lighter;
    color: #F1F4FFFF;
    float: right;
    width: 150px;
    height: 100px;
    margin-top: 20px;
    text-align: right;
    border: 2px solid rgb(241, 244, 255, 0.1);
    border-radius: 10px;
    background-color: transparent;
}

input:hover {
    border: 2px solid rgb(241, 244, 255, 0.3);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

.submit-btn {
    float: right;
    margin-top: 20px;
}